.r1 {
    margin: 0;
    padding: 0;
    background-image: url('./img/istockphoto-959093714-612x612.jpg'); /* เปลี่ยน 'your-image.jpg' เป็น URL ของรูปภาพที่คุณต้องการใช้ */
    background-size: cover; /* ปรับขนาดให้พอดีกับพื้นที่ */
    background-position: center; /* จัดตำแหน่งให้รูปอยู่ที่กลาง */
    background-repeat: no-repeat; /* ไม่ให้ทำซ้ำ */
    background-color: rgba(0, 0, 0, 0.5); /* ปรับความโปร่งแสงของรูปภาพ */
    /* หรือจะใช้ background-opacity: 0.5; ก็ได้ */
  }
  .r2 {
    margin: 0;
    padding: 0;
    background-image: url('./img/istockphoto-952039286-170667a.webp'); /* เปลี่ยน 'your-image.jpg' เป็น URL ของรูปภาพที่คุณต้องการใช้ */
    background-size: cover; /* ปรับขนาดให้พอดีกับพื้นที่ */
    background-position: center; /* จัดตำแหน่งให้รูปอยู่ที่กลาง */
    background-repeat: no-repeat; /* ไม่ให้ทำซ้ำ */
    background-color: rgba(0, 0, 0, 0.5); /* ปรับความโปร่งแสงของรูปภาพ */
    /* หรือจะใช้ background-opacity: 0.5; ก็ได้ */
  }
  
